@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

body {
  --themecolor-light: lightblue;
  --themecolor-dark: #2c2c80;
}

@media (prefers-color-scheme: light){
  body {
    --themecolor: var(--themecolor-light);
  }

  div.item {
    border-color: black !important;
  }

  div.item:hover {
    background: #e0e0e0 !important;
  }

  form#themecolor-dark {
    display: none;
  }

  .info {
    color: dimgray;
  }
}

@media (prefers-color-scheme: dark){
  body {
    background: #2c2c2c;
    color: silver;
    --themecolor: var(--themecolor-dark);
  }

  div.item {
    border-color: silver !important;
  }

  div.item:hover {
    background: #393939 !important;
  }

  form#themecolor-light {
    display: none;
  }

  .info {
    color: #adadad;
  }
}

#version {
  font-size: 12px;
  font-family: "Inconsolata", monospace;
  position: fixed;
  left: 0;
  top: 0;
  padding: 4px;
  background: white;
}

#powerDisplay {
  width: 100%;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

#item-wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
}

div.item-group {
  display: flex;
  flex-direction: column;
}

div.item-block {
  user-select: none;
}

div.item {
  border: 3px black solid;
  border-radius: 20px;
  display: flex;
  width: 150px;
  height: 80px;
  font-weight: 400;
  font-size: 24px;
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 12px;
  transition: background 0.1s linear;
}

div.remain-display {
  white-space: pre;
  font-size: 10px;
  height: 32px;
}

#score {
  font-weight: 400;
  font-size: 64px;
  font-family: "Inconsolata", monospace;
  text-align: center;
  user-select: none;
  position: sticky;
  width: 100%;
  top: 0px;
  margin-top: 40px;
}

#settings {
  position: fixed;
  top: 6px;
  right: 6px;
  margin: 0;
  padding: 8px;
  align-items: end;
  display: flex;
  flex-direction: column;
  user-select: none;
}

#settings-button {
  color: #767676;
  font-size: 40px;
  cursor: pointer;
}

.info {
  font-size: 12px;
}

#settings-panel {
  transition: clip-path 0.3s ease-out;
  background: var(--themecolor);
  max-height: calc(100vh - 210px);
  overflow: scroll;
}

.rounded {
  border-radius: 16px;
  padding: 16px;
  margin: 8px;
}

#fps {
  position: fixed;
  left: 4px;
  bottom: 4px;
  font-family: "Inconsolata", monospace;
}

h2 {
  margin-top: 4px;
  margin-bottom: 4px;
}

h3 {
  margin-top: 8px;
  margin-bottom: 8px;
}