@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

@media (prefers-color-scheme: light){
  :root {
    --background: white;
    --text-color: black;
    --theme-color-light: lightblue;
    --item-border-color: black;
    --item-hover-background: #e0e0e0;
    --settings-theme-color-light: block;
    --settings-theme-color-dark: none;
    --settings-description: dimgray;
  }
  #settings-panel {
    background: var(--theme-color-light);
  }
  div.purchase-amount-selector.selected {
    background: var(--theme-color-light);
  }
}

@media (prefers-color-scheme: dark){
  :root {
    --background: #2c2c2c;
    --text-color: silver;
    --theme-color-dark: #2c2c80;
    --item-border-color: silver;
    --item-hover-background: #393939;
    --settings-theme-color-light: none;
    --settings-theme-color-dark: block;
    --settings-description: #adadad;
  }
  #settings-panel {
    background: var(--theme-color-dark);
  }
  div.purchase-amount-selector.selected {
    background: var(--theme-color-dark);
  }
}

@supports (width: -webkit-fill-available) {
  #ui-size {
    width: -webkit-fill-available !important;
  }
}

body[color-theme="light"] {
  --background: white;
  --text-color: black;
  --theme-color-light: lightblue;
  --item-border-color: black;
  --item-hover-background: #e0e0e0;
  --settings-theme-color-light: block;
  --settings-theme-color-dark: none;
  --settings-description: dimgray;
  #settings-panel {
    background: var(--theme-color-light);
  }
  div.purchase-amount-selector.selected {
    background: var(--theme-color-light);
  }
}

body[color-theme="dark"]{
  --background: #2c2c2c;
  --text-color: silver;
  --theme-color-dark: #2c2c80;
  --item-border-color: silver;
  --item-hover-background: #393939;
  --settings-theme-color-light: none;
  --settings-theme-color-dark: block;
  --settings-description: #adadad;
  #settings-panel {
    background: var(--theme-color-dark);
  }
  div.purchase-amount-selector.selected {
    background: var(--theme-color-dark);
  }
}

body {
  background: var(--background);
  color: var(--text-color);
  --opacity: 80%;
  --accent-color: color-mix(in srgb, color-mix(in srgb, var(--background) var(--opacity), transparent) var(--opacity), black);
  user-select: none;
  --ui-size: 1;
}

div.item {
  border-color: var(--item-border-color);
  :hover {
    background: var(--item-hover-background);
  }
}

form#theme-color-light {
  display: var(--settings-theme-color-light);
  background: white;
}

form#theme-color-dark {
  display: var(--settings-theme-color-dark);
  background: #2c2c2c;
}

.info {
  color: var(--settings-description)
}

#powerDisplay {
  width: 100%;
  text-align: center;
  margin-top: calc(24px * var(--ui-size));
  margin-bottom: calc(24px * var(--ui-size));
  font-size: calc(16px * var(--ui-size))
}

#item-wrapper {
  display: flex;
  flex-direction: row;
  gap: calc(16px * var(--ui-size));
  justify-content: center;
}

div.item-group {
  display: flex;
  flex-direction: column;
}

div.item {
  border: calc(3px * var(--ui-size)) solid;
  border-radius: calc(20px * var(--ui-size));
  display: flex;
  width: calc(150px * var(--ui-size));
  height: calc(80px * var(--ui-size));
  font-weight: 400;
  font-size: calc(24px * var(--ui-size));
  font-family: sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: calc(12px * var(--ui-size));
  transition: background 0.1s linear, width 0.1s linear, border-radius 0.1s linear, margin 0.1s linear;
}

div#purchase-amount-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: calc(12px * var(--ui-size));
  z-index: 1;
  position: sticky;
  top: calc(64px * var(--ui-size));
  backdrop-filter: blur(2px);
}

div.purchase-amount-selector {
  white-space: nowrap;
}

div.price-display, div.purchase-amount-selector {
  background: var(--accent-color);
  width: max-content;
  padding: calc(4px * var(--ui-size)) calc(6px * var(--ui-size));
  border-radius: calc(8px * var(--ui-size));
  margin: calc(4px * var(--ui-size));
  font-size: calc(16px * var(--ui-size));
  transition: border-radius 0.1s linear;
}

div.remain-display {
  white-space: pre;
  font-size: calc(10px * var(--ui-size));
  height: calc(32px * var(--ui-size));
}

#score {
  font-weight: 400;
  font-size: calc(64px * var(--ui-size));
  font-family: "Inconsolata", monospace;
  text-align: center;
  position: sticky;
  width: 100%;
  top: 0px;
  margin-top: calc(40px * var(--ui-size));
  backdrop-filter: blur(2px);
}

#settings {
  position: fixed;
  top: calc(6px * var(--ui-size));
  right: calc(6px * var(--ui-size));
  margin: 0;
  padding: calc(8px * var(--ui-size));
  align-items: end;
  display: flex;
  flex-direction: column;
}

#settings-panel {
  transition: clip-path 0.3s ease-out, border-radius 0.1s linear;
  max-height: calc(100vh - 210px * var(--ui-size));
  overflow-y: scroll;
  max-width: calc((100vw - (32px + 24px) * var(--ui-size)));
}

#ui-size {
  width: 100%;
}

#settings-button {
  color: #767676;
  font-size: calc(40px * var(--ui-size));
  cursor: pointer;
  background: var(--accent-color);
  border-radius: 50%;
  padding: calc(8px * var(--ui-size));
}

.info {
  font-size: calc(12px * var(--ui-size));
}

.rounded {
  border-radius: calc(16px * var(--ui-size));
  padding: calc(16px * var(--ui-size));
  margin: calc(8px * var(--ui-size));
  transition: border-radius 0.1s linear;
}

#fps {
  position: fixed;
  left: calc(4px * var(--ui-size));
  bottom: calc(4px * var(--ui-size));
  font-family: "Inconsolata", monospace;
  padding: calc(6px * var(--ui-size));
  border-radius: calc(8px * var(--ui-size));
  background: var(--accent-color);
  font-size: calc(16px * var(--ui-size));
  transition: border-radius 0.1s linear;
}

h2 {
  margin-top: calc(4px * var(--ui-size));
  margin-bottom: calc(4px * var(--ui-size));
  font-size: calc(24px * var(--ui-size));
}

h3 {
  margin-top: calc(8px * var(--ui-size));
  margin-bottom: calc(8px * var(--ui-size));
  font-size: calc(18px * var(--ui-size));
}