@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

@media (prefers-color-scheme: light){
  :root {
    --background: white;
    --text-color: black;
    --theme-color-light: lightblue;
    --item-border-color: black;
    --item-hover-background: #e0e0e0;
    --settings-theme-color-light: block;
    --settings-theme-color-dark: none;
    --settings-description: dimgray;
  }
  #settings-panel {
    background: var(--theme-color-light);
  }
}

@media (prefers-color-scheme: dark){
  :root {
    --background: #2c2c2c;
    --text-color: silver;
    --theme-color-dark: #2c2c80;
    --item-border-color: silver;
    --item-hover-background: #393939;
    --settings-theme-color-light: none;
    --settings-theme-color-dark: block;
    --settings-description: #adadad;
  }
  #settings-panel {
    background: var(--theme-color-dark);
  }
}

body[color-theme="light"] {
  --background: white;
  --text-color: black;
  --theme-color-light: lightblue;
  --item-border-color: black;
  --item-hover-background: #e0e0e0;
  --settings-theme-color-light: block;
  --settings-theme-color-dark: none;
  --settings-description: dimgray;
  #settings-panel {
    background: var(--theme-color-light);
  }

}

body[color-theme="dark"]{
  --background: #2c2c2c;
  --text-color: silver;
  --theme-color-dark: #2c2c80;
  --item-border-color: silver;
  --item-hover-background: #393939;
  --settings-theme-color-light: none;
  --settings-theme-color-dark: block;
  --settings-description: #adadad;
  #settings-panel {
    background: var(--theme-color-dark);
  }

}

body {
  background: var(--background);
  color: var(--text-color);
  --opacity: 80%;
  --accent-color: color-mix(in srgb, color-mix(in srgb, var(--background) var(--opacity), transparent) var(--opacity), black);
  user-select: none;
}

div.item {
  border-color: var(--item-border-color);
  :hover {
    background: var(--item-hover-background);
  }
}

form#theme-color-light {
  display: var(--settings-theme-color-light);
}

form#theme-color-dark {
  display: var(--settings-theme-color-dark);
}

.info {
  color: var(--settings-description)
}

#version {
  font-size: 12px;
  font-family: "Inconsolata", monospace;
  position: fixed;
  left: 0;
  top: 0;
  padding: 4px;
  background: white;
}

#powerDisplay {
  width: 100%;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

#item-wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
}

div.item-group {
  display: flex;
  flex-direction: column;
}

div.item {
  border: 3px solid;
  border-radius: 20px;
  display: flex;
  width: 150px;
  height: 80px;
  font-weight: 400;
  font-size: 24px;
  font-family: sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 12px;
  transition: background 0.1s linear;
}

div.price-display {
  background: var(--accent-color);
  width: max-content;
  padding: 4px 6px;
  border-radius: 8px;
  margin: 2px;
}

div.remain-display {
  white-space: pre;
  font-size: 10px;
  height: 32px;
}

#score {
  font-weight: 400;
  font-size: 64px;
  font-family: "Inconsolata", monospace;
  text-align: center;
  position: sticky;
  width: 100%;
  top: 0px;
  margin-top: 40px;
}

#settings {
  position: fixed;
  top: 6px;
  right: 6px;
  margin: 0;
  padding: 8px;
  align-items: end;
  display: flex;
  flex-direction: column;
}

#settings-panel {
  transition: clip-path 0.3s ease-out;
  max-height: calc(100vh - 210px);
  overflow-y: scroll;
  max-width: calc(100vw - 32px - 24px);
}

#settings-button {
  color: #767676;
  font-size: 40px;
  cursor: pointer;
  background: var(--accent-color);
  border-radius: 50%;
  padding: 8px;
}

.info {
  font-size: 12px;
}

.rounded {
  border-radius: 16px;
  padding: 16px;
  margin: 8px;
}

#fps {
  position: fixed;
  left: 4px;
  bottom: 4px;
  font-family: "Inconsolata", monospace;
  padding: 6px;
  border-radius: 8px;
  background: var(--accent-color);
}

h2 {
  margin-top: 4px;
  margin-bottom: 4px;
}

h3 {
  margin-top: 8px;
  margin-bottom: 8px;
}